.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.votearrow {

  background: url(https://news.ycombinator.com/grayarrow.gif) no-repeat;
  background-position: center;
}

.text-left {
  text-align: left;
}

.width90{
  width:90%
}
.marg-auto {
  margin: auto;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: rgba(131,109,89,0.05);
}
.header-bgcolor{
  background-color: rgb(225,101,3);
}
.table-bgcolor {
  background-color: rgb(236,236,229);
}
.cursor{
  cursor: pointer;
}
